.nav {
  background-color: #000000;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
  border: 3px solid #ffcc00;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.nav li {
  border: 2px solid #ffcc00;
  border-radius: 50px;
}
.nav a {
  text-decoration: none;

  color: #fff;
  font-size: 18px;
  padding: 8px 16px;
  transition: 0.3s;
}

.nav a:hover,
.nav a.active {
  background-color: #ffcc00;
  color: #000;
}
