.btn {
  background-color: #e9bc07;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.3s;
  margin: 3px;
  -webkit-text-stroke: 0px black;
}

.btn:hover {
  background-color: #bf9904;
}
