.collection-item {
  border: 1px outset rgb(172, 147, 4);
  background-color: #ffd50008;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(255, 234, 0, 0.897);
}
.collection-item:hover {
  border: 1px outset rgb(255, 221, 3);
}

.card-image {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin: 10px 0;
}
