.footer {
  background: rgba(0, 0, 0, 0.8);

  width: 100%;
  padding: 30px 0;
  text-align: center;
  margin-top: auto;
  border: 1px solid #fbc02d;
  box-shadow: 0px -7px 30px 10px rgb(255, 204, 0);
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerText {
  font-size: 1rem;
  color: #fbc02d;
}

.footerLinks {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footerLink {
  color: #fbc02d;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.footerLink:hover {
  color: #ffca28;
}

.socialLinks {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.socialLink {
  color: #fbc02d;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.socialLink:hover {
  color: #ffca28;
}

@media (min-width: 500px) {
  .footerLink,
  .socialLink,
  .footerText {
    font-size: 1.5em;
  }
}
