.valuation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-image {
  float: left;
  object-fit: cover;

  width: 120px;
  height: 30%;
}

.valuation-item {
  border: 3px outset rgba(251, 255, 0, 0.754);

  padding: 15px;
  border-radius: 30px;
  text-align: center;
  margin: 10px;
}

.collection-value-header {
  text-align: center;
  font-size: 2.5em;
}
.chart {
  max-width: 100%;
  font-size: 1.5em;
  margin: 20px auto;
}
