/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #181818;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* App Container */
.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
